<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="2" parallel="false" >
    <test name="chromeTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="test.LoginTestng">
            </class>
        </classes>
    </test>
</suite>